# Prevent Directory Listing
Options -Indexes

# Printing Error Message
ErrorDocument 403 "Sorry, You can't access this"

Order Deny,Allow
Deny from all
Allow from 11.21.52.333,22.23.72.344

# Prevent these files extensions from running
<FilesMatch "\.(htm|html|css|js|php)$">
Order Allow,Deny
Deny from all
</FilesMatch>
